.nav-btn {
  text-decoration: none;
}


body {
  margin: 0;
  background-color: white;
}

#covid {
  background-color: #292929;
  padding: 6px
}

#covid > h3, #covid > p, #covid > a {
  color: #e6e6e6;
  margin-top: 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding-left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-link {
  color: #303030;
  display: flex;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 20px;
  text-decoration: none;
  border-width: 2px;
}

.nav-link:hover {
  border-color: #292929;
  background-color: #e6e6e6;
}

.lg-nav-btn {
  float: right;
  margin: 20px;
  background-color: white;
  border-radius: 12%;
  padding: 10px;
  color: #0584fd;
  font-weight: bold;
  font-size: large;
  border: 4px solid #0584fd;
  margin-right: 60px;
}

.lg-nav-btn:hover {
  background-color: #e6e6e6;
}

.academic-drop-content {
  display: none;
  position: absolute;
}

.academic-drop:hover .academic-drop-content {
  display: block;
  background-color: #cecece;
}

.mini-article {
  display: flex;
  border-style: double;
  padding: 20px;
  height: 100%;
}

.mini-article-col {
  flex: 1;
}

.grid-con {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.sub-img {
  margin-top: 0;
  padding-top: 0;
  background-color: #cecece;
  padding-left: 10px;
}

main {
  padding: 10px;
}

/* Loaded last so the page loads faster */
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@200&display=swap');
* {
  font-family: 'Anek Odia', sans-serif;
}
